*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 450px;
    /* height: auto; */
    
}
.seccion1 {
    height: 380px;
    background-color: rgb(95, 79, 158);
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    
}
h1 {
    display: flex;
    justify-content: center;
    transform: translate(0vh,12vh);
    font-size: 50px;
    color: #ffffff;
    /* color: rgba(72, 231, 128, 0.793); */
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0vh,2vh);
    width: 100px;
    height: 100px;
    
}
.figure-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-header {
    display: flex;
    justify-content: center;
    order:4;
}
.imagen{

    height: 325px;
    width: 100%;
    
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* transform: translate(-3vh,-47vh); */
    gap: 7px;
    order:3;
    
    
}

nav a {
    background-color: rgba(72, 231, 128, 0.793);
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(150, 36, 36);
    border-radius: 10%;
    padding: 4px;
}

nav a:hover {
    background-color: rgba(7, 159, 60, 0.793);
}

/*Main*/
.seccion3 {
    height: 450px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    
}
.seccion2 h2 {
    
    display: flex;
    justify-content: center;
    background-color: rgba(72, 231, 128, 0.793);
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(150, 36, 36);
    
}

/*Estos articulos son de index*/
.articulo1, .articulo2, .articulo3{
    border: 2px solid rgb(150, 36, 36);
    border-radius: 15%;
    background-color: #555353;
    width: 250px;
    color: #ffffff;
}

.img-1, .img-2, .img-3{
    width: 248px;
    border-radius: 15%;
}

.seccion3 article h3, .seccion3 article p {
    
    text-align: center;
    
}

/*Estos articulos son de about*/
.seccion3-about {
    height: 450px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}
.articulo4, .articulo5, .articulo6{
    border: 2px solid rgb(150, 36, 36);
    background-color: #555353;
    width: 800px;
    color: #ffffff;
    text-align: center;
}


.img-4{
    width: 250px;
}

.seccion3-contacto {
    height: 270px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    
}
.seccion3-contacto p {
    color: #ffffff;
}

.seccion3-rules {
    height: 700px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}

.seccion3-rules article {
    display: flex;
    flex-direction: column;
    width: 60%;
    
    background-color: #555353;
    color: #ffffff;
    
}
.seccion3-rules h2{
    color: #ffffff;
}

.seccion3-calendario{
    height: auto;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    color: #ffffff;
}

table {
    background-color: rgb(54, 204, 119);
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    caption-side: bottom;
}

table, th, td {
    border: 5px solid;
    border: 2px solid rgb(150, 36, 36);
    text-align: center;
}

th {
    background-color: rgb(54, 204, 119);
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

tr:nth-child(even) {
    background-color: rgb(54, 204, 119);
    color: aliceblue;
}

tr:hover {
    background-color: #059336;
}

.seccion4-calendario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.active{
    background-color: rgb(40, 114, 72);
    color: aliceblue;
}

/*Mapas*/
section article iframe {
    width:200px;
    height:200px;
    padding: 5px;
    
}

.seccion5-calendario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.seccion5-calendario article{
    display: flex;
    flex-direction: column;
}

/*Formulario*/
.seccion3-registro{
    height: auto;
    /* background-color: rgb(95, 79, 158); */
    background-image: url(/assets/img/hockey_3.jpg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* .seccion3-registro form{
    display: flex;
    flex-direction: row;
} */

form {
    background-color: bisque;
    /* background-color: #3AB9E2;
    background-color: rgb(54, 204, 119); */
    padding: 2.5em;
    margin: 1em;
    font-size: 1.6em;
    /* display: flex;
    flex-direction: column; */
    flex-wrap: wrap;
    border: 2px solid rgb(150, 36, 36);
    width: 70%;
    /* align-self: center; */
    /* color: #ffffff; */
    
}

/* .seccion3-registro form legend{
    display: flex;
    flex-direction: row;
} */

/*Legends*/

.legend-1{
    display: flex;
    flex-direction: column;
    /* background-color: #555353;  */
    
}

.personales1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.personales2{
    
    justify-content: flex-end;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    /* width: 500px; */
}

button {
    
    padding: 10px;
    border: 1px solid gray;
    background-color:#7468ce;
    border-radius: 5px;
    font: inherit;
    /* color: #ffffff; */
    
    
}

button:hover {
    background-color: rgb(83, 32, 116);
    box-shadow: 3px 3px 5px grey;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* input[type="radio"]{
    

} */




