*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-style: oblique;
}



/* header {
    display: inline-block;
} */

/* .seccion1 {
    position: relative;
    top: 5%; left: 10%;
} */
/*Me salia el scroll horizontal aunque ocupaba todo el espacio de mi pantalla, por lo que use la propiedad de abajo*/
body{
    overflow-x: hidden;
 }
h1 {
    
    font-size: 40px;
    display: inline;
}

.imagen {
    background-color: red;
    display: inline-block;
    width: 100%;
    height: 450px;
}

nav {
    
    display: inline-block;
    position: absolute;
    top: 10%; left: 83%;
}
a{
    color: white;
    background-color: #155fb3;
    text-decoration: none;
    font-size: 20px;
    margin: 3px;
}


/*Termino la mitad aca arriba*/
/* main {
    display: inline-block;
    
} */
.seccion2 {
    position: relative;
    
}
h2 {
    text-align: center;
    border: 3px solid #000000;
    position: absolute;
    top: -40px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.6;
    
}

article {
    margin: 20px;
    display: inline;
    position:relative;
    top: 20px; left: 25%;
}
.logo {
    width: 300px;
    display: inline;
    position: absolute;
}

p {
    width: 70%;
}

.contacto {
    margin: 20px;
    display: inline;
    position:relative;
    top: 20px; left: 25%;
}

.imagenes {
    display: inline-block;
    position: relative;
    top: 100px;
}

.imagenes img {
    width: 400px;
    margin: 30px;
    padding: 10px;
}