*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 420px;
    
}
.seccion1 {
    height: 380px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
    
}
h1 {
    display: flex;
    justify-content: center;
    transform: translate(0vh,12vh);
    font-size: 50px;
    color: #ffffff;
    /* color: rgba(72, 231, 128, 0.793); */
    
}
.logo {
    width: 100px;
    height: 100px;
}
.img-header {
    display: flex;
    justify-content: center;
}
.imagen{

    height: 325px;
    width: 100%;
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translate(-3vh,-47vh);
    gap: 7px;
    order: 1;
    
}

nav a {
    background-color: rgba(72, 231, 128, 0.793);
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(150, 36, 36);
    border-radius: 10%;
    padding: 4px;
}

nav a:hover {
    background-color: rgba(7, 159, 60, 0.793);
}

/*Main*/
.seccion3 {
    height: 450px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    
}
.seccion2 h2 {
    
    display: flex;
    justify-content: center;
    background-color: rgba(72, 231, 128, 0.793);
    color: #ffffff;
    text-decoration: none;
    border: 1px solid rgb(150, 36, 36);
    
}

/*Estos articulos son de index*/
.articulo1, .articulo2, .articulo3{
    border: 2px solid rgb(150, 36, 36);
    border-radius: 15%;
    background-color: #555353;
    width: 250px;
    color: #ffffff;
}

.img-1, .img-2, .img-3{
    width: 248px;
    border-radius: 15%;
}

.seccion3 article h3, .seccion3 article p {
    
    text-align: center;
    
}

/*Estos articulos son de about*/
.articulo4, .articulo5, .articulo6{
    border: 2px solid rgb(150, 36, 36);
    background-color: #555353;
    width: 500px;
    color: #ffffff;
    text-align: center;
}

.img-4{
    width: 250px;
}

.seccion3-contacto {
    height: 270px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    
}
.seccion3-contacto p {
    color: #ffffff;
}

.seccion3-rules {
    height: 700px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    
}

.seccion3-rules article {
    display: flex;
    flex-direction: column;
    width: 60%;
    
    background-color: #555353;
    color: #ffffff;
    
}
.seccion3-rules h2{
    color: #ffffff;
}

.seccion3-calendario{
    height: 700px;
    background-color: rgb(95, 79, 158);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    color: #ffffff;
}

table {
    background-color: rgb(54, 204, 119);
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    caption-side: bottom;
}

table, th, td {
    border: 5px solid;
    border: 2px solid rgb(150, 36, 36);
    text-align: center;
}

th {
    background-color: rgb(54, 204, 119);
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

tr:nth-child(even) {
    background-color: rgb(54, 204, 119);
    color: aliceblue;
}

tr:hover {
    background-color: #059336;
}

.seccion4-calendario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




